html{
    background-color: white;
}
body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    background-color: white;
    background-size: cover;
    display: flex;
    flex-direction: column;
    
}

header {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: #333;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 15px 0;
}

section {
    padding: 2rem;
    background-color:rgba(0, 136, 255, 0.5);
    margin: 2rem;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2, h3 {
    text-align: center;
    color: #000000;
}

.servicios {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.servicio {
    width: 45%;
    background-color: rgba(142, 142, 142, 0.5);
    margin: 1rem 0;
    padding: 1rem;
    border-radius: 8px;
}

.servicio h3 {
    margin-top: 0;
    color: #000000;
}

footer {
    text-align: center;
    padding: 1rem 0;
    background-color: #333;
    color: #fff;
    position: fixed;
    width: 100%;
    bottom: 0;
}

.div{
    border: 2px solid 

}

p {
    text-align: center;
    margin: 20px 20px;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    line-height: 1.5;
}

.QUIENES{
    font-family:  'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border-bottom: 1px;
    padding: auto;
    margin-bottom: auto; 
}